:root {
    /* CSS HEX */
--pale-dogwood: #EDC6BFff;
--rich-black: #011B24ff;
--gunmetal: #03313Dff;
--rosy-brown: #DA9793ff;
--old-rose: #A96E6Eff;
}

/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #000000;
    font-size: 1em;
    line-height: 1.4;
	background-color: #FFF;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #f3a7d1;
    text-shadow: none;
}

::selection {
    background: #f3a7d1;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px dashed #000;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* center */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bold {
    font-weight: bold;
}

body {
    font-family: "Courier New", Courier, monospace;
}

pre {
    font-family: "Courier New", Courier, monospace;
}

.to-top {
    position:fixed;
    right:0%;
    bottom:0px;
}

.header {
    position:fixed;
    left:0%;
    top:0px;
}

.indent {
    margin-left: 5%
}

.toc {
    position:revert;
    left:revert;
    top: revert;
}
table {
    margin: auto;
}
td, tr, th {
    border: 1px dashed #000;
    padding: 0.5em;
    text-align: center;
    min-width:3em;
    font-weight: bold;
}

#cartweel-ring-5678 {
    font-size: 12px;
    font-weight:unset;
}

/* HIDE ON MOBILE */
.hidemobi {
    display: none !important;
}

.hidepc {
    display: revert !important;
}

input {
    border: 1px dashed #000;
    background-color: #fff;
}

form {
    margin: auto;
}

iframe {
    border: 0px;
    height: 400px;
}

a {
    color: var(--old-rose) !important;
 }

/* ADDING COLLAPSIBLE STUFF */

.content {
    padding: revert;
    overflow: hidden;
    display: none;
    background-color: #fff;
}
.collapsible {
    background-color: #fff;
    color: #000;
    cursor: pointer;
    padding: 0px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1em;
}

.collapsible:after {
    content: '+';
    color: #000;
    float: right;
  }
  
  .active:after {
    content: "-";
  }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
    body {
        font-family: "Courier New", Courier, monospace;
        padding-left: 25%;
        padding-right: 25%
    }

    .to-top {
        position:fixed;
        right:20%;
    }

    .header {
        position:fixed;
        left:0%;
        top:0px;
    }
    /* TOC */ 
    .toc {
        position:fixed;
        left:5%;
        top:0%;
        width:15%;
    }
    /* HIDING ON MOBILE/HIDING ON DESKTOP */
    .hidemobi {
        display: revert !important;
    }
    .hidepc {
        display: none !important;
    }
    form {
        margin: auto;
    }

}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
